.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
	font-size: 15px;
}

dropdown-item:hover{
	color: #0f3a5d;
}

#scrollUp {
    background-image: url("../images/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}