.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
	font-size: 15px;
}

dropdown-item:hover{
	color: #0f3a5d;
}

#scrollUp {
    background-image: url("../images/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}

section.home-slider{
	width: 90%;
	margin-top: 10px;
}

.nav-c{
	font-size: 40px;
	color: white;
}

/*.owl-carousel.home-slider{
	height: 100vh;
}*/

.owl-carousel.home-slider .owl-nav{
	top: 50%;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev{
	left: 10%;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next{
	right: 10%;
}

.slider-item{
	background-size: cover !important;
}